<form class="attack {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div class="attack">
            <table>
                <tr>
                    <td>{{localize "earthdawn.r.rollStep"}}</td>
                    <td>
                        <input name="system.attackstep" type="number" value="{{item.system.attackstep}}" data-dtype="Number">
                    </td>
                    <td>{{localize "earthdawn.a.action"}}</td>
                    <td>
                        <select class="inherent-width" name="system.action" type="text" value="{{item.system.action}}" data-dtype="String" {{#select item.system.action}}/>
                        <option value="Standard">{{localize "earthdawn.a.actionStandard"}}</option>
                        <option value="Simple">{{localize "earthdawn.a.actionSimple"}}</option>
                        <option value="Free">{{localize "earthdawn.a.actionFree"}}</option>
                        <option value="Sustained">{{localize "earthdawn.a.actionSustained"}}</option>
                        {{/select}} </select>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.d.damageStep"}}</td>
                    <td>
                        <input name="system.damagestep" type="number" value="{{item.system.damagestep}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "earthdawn.s.strain"}}</td>
                    <td>
                        <input name="system.strain" type="number" value="{{item.system.strain}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.p.powerType"}}</td>
                    <td>
                        <select class="inherent-width" name="system.powerType" type="text" value="{{item.system.powerType}}" data-dtype="String" {{#select item.system.powerType}}/>
                        <option value="Attack">{{localize "earthdawn.a.attack"}}</option>
                        <option value="Maneuver">{{localize "earthdawn.m.maneuver"}}</option>
                        <option value="Power">{{localize "earthdawn.p.power"}}</option>
                        {{/select}} </select>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>        
        </div>
        <!-- navigator -->
        <div class="static">
            <!-- Navigator -->
            <hr class="line-simple">
                <div class="spell-nav">
                    <nav class="tabs centered" data-group="primary">
                        <a data-tab="information">{{localize "earthdawn.d.description"}}</a>
                        <a data-tab="effects">{{localize "earthdawn.e.effects"}}</a>
                    </nav>
                </div>
            <hr class="line-simple">
            <!-- Sheet Body -->
            <div class="sheet-body">
                <!-- Description -->
                <div class="tab" data-group="primary" data-tab="information">
                    <div class="fixedHeight">
                        {{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
                    </div>
                </div>
               <!-- effects -->
                <div class="tab tab-effects" data-group="primary" data-tab="effects">
                    <div>{{> "systems/earthdawn4e/templates/items/partials/effects-tab.hbs"}}</div>
                </div>
            </div>
        </div>          
    </body>
</form>
