<form class="mask {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <table class="creatureStatsTable">
            <tr>
                <td class="step-roll" data-att="dexterityStep" data-name="{{localize 'earthdawn.d.dexterity'}}" >
                    <a>{{localize "earthdawn.d.dexterity"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.dexterityStep" value="{{item.system.dexterityStep}}" />
                </td>
                <td class="step-roll" data-att="perceptionStep" data-name="{{localize 'earthdawn.p.perception'}}" >
                    <a>{{localize "earthdawn.p.perception"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.perceptionStep" value="{{item.system.perceptionStep}}" />
                </td>
            </tr>
            <tr>
                <td class="step-roll" data-att="strengthStep" data-name="{{localize 'earthdawn.s.strength'}}" >
                    <a>{{localize "earthdawn.s.strength"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.strengthStep" value="{{item.system.strengthStep}}" />
                </td>
                <td class="step-roll" data-att="willpowerStep" data-name="{{localize 'earthdawn.w.willpower'}}">
                    <a>{{localize "earthdawn.w.willpower"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.willpowerStep" value="{{item.system.willpowerStep}}" />
                </td>
            </tr>
            <tr>
                <td class="step-roll" data-att="toughnessStep" data-name="{{localize 'earthdawn.t.toughness'}}" >
                    <a>{{localize "earthdawn.t.toughness"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.toughnessStep" value="{{item.system.toughnessStep}}" />
                </td>
                <td class="step-roll" data-att="charismaStep" data-name="{{localize 'earthdawn.c.charisma'}}" >
                    <a>{{localize "earthdawn.c.charisma"}}</a>
                </td>
                <td>
                    <input class="step-display circleInput" type="text" name="system.charismaStep" value="{{item.system.charismaStep}}" />
                </td>
            </tr>
            </table>
            <table class="table-borderless">
            <tr>
                <td>{{localize "earthdawn.c.challenge"}}</td>
                <td><input class="step-display" name="system.challenge" type="text" value="{{item.system.challenge}}" data-dtype="Number"/></td>
            </tr>
        </table>
        <div class="space-smaller creatureCharacteristicTab">
            <div class="maskCharacteristics">
                <div class="creatureLeftBar">
                    <div class="creatureDefenses circleRow">
                        <h3 class="alignmentCenter">{{localize "earthdawn.d.defense"}}</h3>
                        <div class="centeredInput">
                            <div class="circleLeft">
                                <div>
                                    <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.d.defensePhysical"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput step-display" name="system.physicaldefense" type="text" value="{{item.system.physicaldefense}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleMiddle">
                                <div>
                                    <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.d.defenseMagical"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput step-display" name="system.mysticdefense" type="text" value="{{item.system.mysticdefense}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleRight">
                                <div>
                                    <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.d.defenseSocial"}}</span>      
                                </div>
                                <div>    
                                    <input class="circleInput step-display" name="system.socialdefense" type="text" value="{{item.system.socialdefense}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="creatureHealthRating circleRow">
                        <h3 class="alignmentCenter">{{localize "earthdawn.h.healthRating"}}</h3>
                        <div class="centeredInput">
                            <div class="circleLeft">
                                <div>
                                    <span class="lineBreak" name="woundThreshold">{{localize "earthdawn.w.woundThreshold"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput step-display" name="system.woundThreshold" type="text" value="{{item.system.woundThreshold}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleMiddle">
                                <div>
                                    <span class="lineBreak" name="unconsciousThreshold">{{localize "earthdawn.u.unconsciousnessRating"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput step-display" name="system.unconsciousThreshold" type="text" value="{{item.system.unconsciousThreshold}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleRight">
                                <div>
                                    <span class="lineBreak" name="deathThreshold">{{localize "earthdawn.d.deathRating"}}</span>      
                                </div>
                                <div>    
                                    <input class="circleInput step-display" name="system.deathThreshold" type="text" value="{{item.system.deathThreshold}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="creatureRightBar">
                    <div class="creatureArmor circleRow">
                        <h3 class="alignmentCenter">{{localize "earthdawn.a.armor"}}</h3>
                        <div class="centeredInput">
                            <div class="circleLeft marginLeft10">
                                <div>
                                    <span class="lineBreak" name="physicalArmor">{{localize "earthdawn.a.armorPhysical"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput" name="system.physicalarmor" type="text" value="{{item.system.physicalarmor}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleRight marginRight10">
                                <div>
                                    <span class="lineBreak" name="mysicalArmor">{{localize "earthdawn.a.armorMystical"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput" name="system.mysticarmor" type="text" value="{{item.system.mysticarmor}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="creatureMovement circleRow">
                        <h3 class="alignmentCenter">{{localize "earthdawn.m.movement"}}</h3>
                        <div class="centeredInput">
                            <div class="circleLeft marginLeft10 creatureCirclesPadding">
                                <div>
                                    <span class="lineBreak" name="normalMovement">{{localize "earthdawn.m.movementNormal"}}</span>
                                </div>
                                <div>
                                    <input class="circleInput" name="system.movement" type="text" value="{{item.system.movement}}" data-dtype="Number"/>
                                </div>
                            </div>
                            <div class="circleRight marginRight10">
                                <div>
                                    <div>
                                        <span class="lineBreak" name="otherMovement">{{localize "earthdawn.m.movementOther"}}</span>
                                    </div>
                                </div>
                                <div>
                                    <input class="circleInput step-display" name="system.otherMovement" type="text" value="{{item.system.otherMovement}}" data-dtype="Number"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatureCombatTab">
                <!-- initiative -->
                <div class="creatureInitiative centered">
                    <div>
                        <div class="circleLeft">
                            <label>{{localize "earthdawn.i.initiative"}} </label>
                            <input class="step-display" name="system.initiativeStep" type="text" value="{{item.system.initiativeStep}}" />
                        </div>
                        <div class="circleRight">
                            <label>{{localize "earthdawn.a.attacks"}} </label>
                            <input class="step-display" name="system.attacks" type="text" value="{{item.system.attacks}}"/>
                        </div>                 
                    </div>
                    <div>
                        <div class="circleLeft">
                            <label>{{localize "earthdawn.k.knockdownStep"}} </label>
                            <input class="step-display" name="system.knockdown" type="text" value="{{item.system.knockdown}}" />
                        </div>
                        <div class="circleMiddle">
                            <label>{{localize "earthdawn.r.recovery"}} </label>
                            <input class="step-display" name="system.recoverytests" type="text" value="{{item.system.recoverytests}}" />
                        </div>  
                    </div>
                     <div>
                        <div class="circleLeft">
                            <label>{{localize "earthdawn.a.attackStep"}} </label>
                            <input class="step-display" name="system.attackStep" type="number" value="{{item.system.attackStep}}" />
                        </div>
                        <div class="circleRight">
                            <label>{{localize "earthdawn.d.damageStep"}} </label>
                            <input class="step-display" name="system.damageStep" type="number" value="{{item.system.damageStep}}"/>
                        </div>                 
                    </div>
                </div>
                {{!-- <div class="creatureInformation">
                    <h3 class="centered">{{localize "earthdawn.i.information"}}</h3>
                    <div class="flexDescription">
                        {{editor item.system.descriptionGameInfo target="system.descriptionGameInfo" button=true owner=owner editable=editable}}
                    </div>
                </div> --}}
            </div>
        </div>
        <div class="flexColumn space-smaller">
            <h3 class="h3-editor">{{localize "earthdawn.l.labelItemDescription"}}</h3> 
            {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable}}
        </div>        
        <div class="flexColumn">
            <h3 class="h3-editor">{{localize "earthdawn.p.powers"}}</h3> 
            {{editor enrichment.system.powers target="system.powers" button=true owner=owner editable=editable}}
        </div>        


    </body>
</form>
