<form class="shield {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
	<div class="shield">
		<table>
			<tr>
				<td>{{localize "earthdawn.d.defensePhysical"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.physicaldefense" type="text" value="{{item.system.physicaldefense}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.d.defenseMagical"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.mysticdefense" type="number" value="{{item.system.mysticdefense}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.i.initiativePenalty"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.initiativepenalty" type="text" value="{{item.system.initiativepenalty}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.s.shatterThreshold"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.shatterthreshold" type="text" value="{{item.system.shatterthreshold}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.c.cost"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number"/>
				</td>
				<td>{{localize "earthdawn.w.weight"}}</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.weight" type="number" value="{{item.system.weight}}" data-dtype="Number"/>
				</td>
			</tr>
			<tr>
				<td>{{localize "earthdawn.a.availability"}}</td>
				<td class="padding-left-6 padding-right-6">
					<select class="inherent-width" name="system.availability" type="text" value="{{item.system.availability}}" data-dtype="String" {{#select item.system.availability}}/>
					<option value="availabilityEveryday">{{localize "earthdawn.a.availabilityEveryday"}}</option>
					<option value="availabilityAverage">{{localize "earthdawn.a.availabilityAverage"}}</option>
					<option value="availabilityUnusual">{{localize "earthdawn.a.availabilityUnusual"}}</option>
					<option value="availabilityRare">{{localize "earthdawn.a.availabilityRare"}}</option>
					<option value="availabilityVeryRare">{{localize "earthdawn.a.availabilityVeryRare"}}</option>
					{{/select}} </select>
				</td>
				<td>
					{{localize "earthdawn.b.bloodDamage"}}
				</td>
				<td class="padding-left-6 padding-right-6">
					<input name="system.bloodMagicDamage" type="text" value="{{item.system.bloodMagicDamage}}" data-dtype="Number">
				</td>
			</tr>
			{{#if (eq item.system.isthread true)}}
			<tr>
                <td>
                    {{localize "earthdawn.m.maximumThreads"}}
                </td>
                <td class="padding-left-6">
                    <input name="system.maxThreads" type="text" value="{{item.system.maxThreads}}" data-dtype="Number">
                </td>
				<td></td>
                <td></td>
			</tr>
            {{/if}}
		</table>
	</div>
	<!-- GM field toggel Thread item -->
	<div class="static">
		{{#if (eq isGM true)}}{{localize "earthdawn.t.threadItem"}}?
			<input type="checkbox" name="system.isthread" {{checked item.system.isthread}}  />
		{{/if}}
	</div>
	<!-- Thread Item -->
	{{> "systems/earthdawn4e/templates/items/partials/thread-item.hbs"}}
</form>
