<form class="specials {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <h1><input
        name="name"
        type="text"
        value="{{item.name}}"
        placeholder="Name"
      /></h1>
  </header>
  <div>
    <div class="flexColumn space-smaller">
      {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </div>
</form>
