<form class="spells {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <!-- table content -->
        <div class="spell">
            <table>
                <tr>
                    <td>{{localize "earthdawn.c.circle"}}</td>
                    <td>
                        <input name="system.circle" type="number" value="{{item.system.circle}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "earthdawn.s.spellThreads"}}</td>
                    <td>
                        <input name="system.threadsrequired" type="number" value="{{item.system.threadsrequired}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.w.weavingDifficulty"}}</td>
                    <td>
                        <input name="system.weavingdifficulty" type="number" value="{{item.system.weavingdifficulty}}" data-dtype="Number"/>
                    </td>
                    <td>{{localize "earthdawn.c.castingDifficulty"}}</td>
                    <td>
                        <input name="system.castingdifficulty" type="text" value="{{item.system.castingdifficulty}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.s.spellRange"}}</td>
                    <td>
                        <input name="system.range" type="text" value="{{item.system.range}}" data-dtype="String"/>
                    </td>
                    <td>{{localize "earthdawn.d.discipline"}}</td>
                    <td>
                        <select name="system.discipline" type="string" value="{{item.system.discipline}}" data-dtype="String" {{#select item.system.discipline}}/>
                        <option value="Elementalist">{{localize "earthdawn.d.disciplineElementalist"}}</option>
                        <option value="Illusionist">{{localize "earthdawn.d.disciplineIllusionist"}}</option>
                        <option value="Nethermancer">{{localize "earthdawn.d.disciplineNethermancer"}}</option>
                        <option value="Shaman">{{localize "earthdawn.d.disciplineShaman"}}</option>
                        <option value="Wizard">{{localize "earthdawn.d.disciplineWizard"}}</option>{{/select}}</select>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.m.matrixReattuningDifficulty"}}</td>
                    <td>
                        <input name="system.reattunedifficulty" type="number" value="{{item.system.reattunedifficulty}}" data-dtype="Number">
                    </td>
                    <td>{{localize "earthdawn.s.spellDuration"}}</td>
                    <td>
                        <input name="system.duration" type="text" value="{{item.system.duration}}" data-dtype="String">
                    </td>
                </tr>
            </table>
            <table> 
                <tr>
                    <th>{{localize "earthdawn.e.effect"}}</th>
                    <th>{{localize "earthdawn.e.effectArea"}}</th>
                </tr>
                <tr>
                    <td>
                        <textarea name="system.effect" id="spellEffects" cols="30" rows="3">{{item.system.effect}}</textarea>
                    </td>
                    <td>
                        <textarea name="system.areaofeffect" id="spellAreaofeffect" cols="30" rows="3">{{item.system.areaofeffect}}</textarea>
                    </td>
                </tr>
                        
                <tr>
                    <th>{{localize "earthdawn.t.threadsAdditional"}}</th>
                    <th>{{localize "earthdawn.s.successAdd"}}</th>
                </tr>
                <tr>
                    <td>
                        <textarea name="system.extrathreads" id="extrathreads" cols="30" rows="3">{{item.system.extrathreads}}</textarea>
                    </td>
                    <td>
                        <textarea name="system.extrasuccesses" id="spellExtrasuccesses" cols="30" rows="3">{{item.system.extrasuccesses}}</textarea>
                    </td>
                </tr>
                
            </table>        
        </div>
        <!-- navigator -->
        <div class="static">
            <!-- Navigator -->
            <hr class="line-simple">
                <div class="spell-nav">
                    <nav class="tabs centered" data-group="primary">
                        <a data-tab="information">{{localize "earthdawn.d.description"}}</a>
                        <a data-tab="effects">{{localize "earthdawn.e.effects"}}</a>
                    </nav>
                </div>
            <hr class="line-simple">
            <!-- Sheet Body -->
            <div class="sheet-body">
                <!-- Description -->
                <div class="tab" data-group="primary" data-tab="information">
                    <div class="fixedHeight">
                        {{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
                    </div>
                </div>
               <!-- effects -->
                <div class="tab tab-effects" data-group="primary" data-tab="effects">
                    <div>{{> "systems/earthdawn4e/templates/items/partials/effects-tab.hbs"}}</div>
                </div>
            </div>
        </div>          
    </body>
</form>
