<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css">
        <a>{{name}}</a>
    </td>

    <td>
        <span>{{localize "earthdawn.p.physicalArmor"}}: {{system.Aphysicalarmor}}</span>
    </td>

    <td>
        <span>{{localize "earthdawn.m.mysticArmor"}}: {{system.Amysticarmor}}</span>
    </td>

    <td>
        <span>
            {{localize "earthdawn.e.equipped"}}:
            <input type="checkbox" class="link-checkbox" name="system.worn" {{checked system.worn}}/>
	    </span>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=false}}
    </td>
</tr>
