<tr class="effects-info effects-card item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{icon}}" alt="">
    </td>

    <td class="item-name-css rollable">
        <!--originally from taka-->
        <!--{{name}}-->
        {{label}}
    </td>

    <td>
        <div>{{item.system.duration.rounds}}</div>
    </td>

    <td>
        <div>
            <input type="checkbox" class="link-checkbox-effect" name="disabled" data-dtype="Boolean" {{checked (not disabled)}} />
        </div>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control-effects.hbs' upgradable=false}}
    </td>
</tr>
