<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css rollable">
        {{name}}
    </td>

    <td>
        <div>{{system.effect}}</div>
    </td>

    <td>
        <div>{{system.range}}</div>
    </td>

    <td>
        <div>{{system.threadsrequired}}</div>
    </td>

    <td>
        <div>{{system.discipline}}</div>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=false}}
    </td>
</tr>
