<tr class="item item-draggable item-name" data-item-id="{{_id}}">
    <td class="padding-right-5">
        <img class="item-image" src="{{img}}" alt="">
    </td>

    <td class="item-name-css rollable">
        {{name}}
    </td>

    <td>
        <div>{{system.rank}}</div>
    </td>

    <td>
        <div>
             <input type="checkbox" class="link-checkbox" name="system.active" data-dtype="Boolean" {{checked system.active}} />
        </div>
    </td>

    <td class="centered">
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/item-control.hbs' upgradable=false}}
    </td>
</tr>
