<label>{{localize "earthdawn.f.favorite"}}</label>
<select name="system.favorite" class="inherent-width" value="{{item.system.favorite}}">
    {{#select item.system.favorite}}
        <option value="false">{{localize "earthdawn.n.no"}}</option>
        <option value="true">{{localize "earthdawn.y.yes"}}</option>
    {{/select}}
</select>
