<label>{{localize "earthdawn.p.power"}}</label>
<select name="system.powerType" value="{{item.system.powerType}}">
    {{#select item.system.powerType}}
        <option value="Attack">{{localize "earthdawn.a.attack"}}</option>
        <option value="Maneuver">{{localize "earthdawn.m.maneuver"}}</option>
        <option value="Power">{{localize "earthdawn.p.power"}}</option>
    {{/select}}
</select>
