<label>{{localize "earthdawn.a.availability"}}</label>
<select name="system.availability" value='{{item.system.availability}}'>
    {{#select item.system.availability}}
        <option value="Everyday">{{localize 'earthdawn.a.availabilityEveryday'}}</option>
        <option value="Average">{{localize 'earthdawn.a.availabilityAverage'}}</option>
        <option value="Unusual">{{localize 'earthdawn.a.availabilityUnusual'}}</option>
        <option value="Rare">{{localize 'earthdawn.a.availabilityRare'}}</option>
        <option value="VeryRare">{{localize 'earthdawn.a.availabilityVeryRare'}}</option>
    {{/select}}
</select>
