<header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

    <div class="header-details flexrow">
        <h1 class="charname-discipline">
            <input name="name" type="text" value="{{item.name}}"/>
        </h1>

        <div class="item-subtitle">
            <h4 class="item-type">{{localize item.type}}</h4>
            <div class="grid grid-7col no-gap margin-top-40">
                <select class="grid-span-2" name="system.discipline" value="{{item.system.discipline}}">
                    {{#select item.system.discipline}}
                        <option value="discipline">{{localize "earthdawn.d.discipline"}}</option>
                        <option value="path">{{localize "earthdawn.p.path"}}</option>
                        <option value="questor">{{localize "earthdawn.q.questor"}}</option>
                    {{/select}}
                </select>
                    <label>{{localize "earthdawn.c.circle"}}</label>
                    <input type="number" name="system.circle" value="{{item.system.circle}}" class="centered">
                 {{#if (eq item.system.discipline "discipline")}}
                    <label class="grid-span-2">{{localize "earthdawn.d.durability"}}</label>
                    <input type="number" name="system.durability" value="{{item.system.durability}}" class="centered">
                {{/if}}
                {{#if (eq item.system.discipline "path")}}
                    <label class="grid-span-2">{{localize "earthdawn.d.discipline"}}</label>
                    <select name="system.relatedDiscipline" value={{item.system.relatedDiscipline}}>
                        {{#select item.system.relatedDiscipline}}
                        <option value="none">{{localize "earthdawn.n.none"}}</option>
                        <option value="Air Sailor">{{localize "earthdawn.d.disciplineAirSailor"}}</option>
                        <option value="Archer">{{localize "earthdawn.d.disciplineArcher"}}</option>
                        <option value="Beastmaster">{{localize "earthdawn.d.disciplineBeastmaster"}}</option>
                        <option value="Cavalryman">{{localize "earthdawn.d.disciplineCavalryman"}}</option>
                        <option value="Elementalist">{{localize "earthdawn.d.disciplineElementalist"}}</option>
                        <option value="Illusionist">{{localize "earthdawn.d.disciplineIllusionist"}}</option>
                        <option value="Nethermancer">{{localize "earthdawn.d.disciplineNethermancer"}}</option>
                        <option value="Scout">{{localize "earthdawn.d.disciplineScout"}}</option>
                        <option value="Sky Raider">{{localize "earthdawn.d.disciplineSkyRaider"}}</option>
                        <option value="Swordmaster">{{localize "earthdawn.d.disciplineSwordmaster"}}</option>
                        <option value="Thief">{{localize "earthdawn.d.disciplineThief"}}</option>
                        <option value="Troubadour">{{localize "earthdawn.d.disciplineTroubadour"}}</option>
                        <option value="Warrior">{{localize "earthdawn.d.disciplineWarrior"}}</option>
                        <option value="Weaponsmith">{{localize "earthdawn.d.disciplineWeaponsmith"}}</option>
                        <option value="Wizard">{{localize "earthdawn.d.disciplineWizard"}}</option>
                        {{/select}}
                    </select>   
                {{/if}}
            </div>
		</div>
	</div>
</header>
