// LP spending

.upgradeDialog {
  label,
  span {
    margin: 1em;
  }
  input {
    width: auto;
    margin: 1em;
    border: none;
  }
  .fa-check-circle {
    color: green;
  }

  .fa-exclamation-circle {
    color: yellow;
  }
}

.lpTrackingTable {
  .selected {
    background-color: yellowgreen;
  }
  tbody > tr:hover {
    background-color: yellowgreen;
  }
}
