<div class="item-properties wide-xl">
    <ol class="properties-list">

        {{!-- Armor --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.p.playerValues" }}</label>
                <div class="grid grid-4col no-gap">
                    <label class="grid-span-3">{{localize "earthdawn.a.armorPhysical"}}</label>
                    <input type="number" name="system.Aphysicalarmor" value="{{item.system.Aphysicalarmor}}">

                    <label class="grid-span-3">{{localize "earthdawn.a.armorMystical"}}</label>
                    <input type="number" name="system.Amysticarmor" value="{{item.system.Amysticarmor}}">

                    <label class="grid-span-3">{{localize "earthdawn.a.armorPenalty"}}</label>
                    <input type="number" name="system.armorPenalty" value="{{item.system.armorPenalty}}">

                    <label class="grid-span-3">{{localize "earthdawn.w.weight"}}</label>
                    <input type="number" name="system.weight" value="{{item.system.weight}}">
                    
                    <label class="grid-span-3">{{localize "earthdawn.t.timesForgedPhysical"}}</label>
                    <input type="number" name="system.timesForgedPhysical" value="{{item.system.timesForgedPhysical}}">
                    
                    <label class="grid-span-3">{{localize "earthdawn.t.timesForgedMystic"}}</label>
                    <input type="number" name="system.timesForgedMystic" value="{{item.system.timesForgedMystic}}">

                    <label class="grid-span-3">{{localize "earthdawn.b.bloodDamage"}}</label>
                    <input type="number" name="system.bloodMagicDamage" value="{{item.system.bloodMagicDamage}}">
                </div>
            </div>
        </li>

        <hr>

        {{!-- Checkmarks --}}
        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.status" }}</label>
                <label class="checkbox">
                    <input type="checkbox" name="system.worn" {{checked item.system.worn}}/> {{ localize
                        "earthdawn.e.equipped" }}
                </label>
                {{#if (eq isGM true)}}
                    <label class="checkbox">
                        <input type="checkbox" name="system.isthread" {{checked item.system.isthread}}/> {{ localize
                            "earthdawn.t.thread" }}
                    </label>
                {{/if}}
            </div>
        </li>

        <hr>

        <li>
            <div class="form-group stacked">
                <label class="box-title">{{ localize "earthdawn.s.shopValues" }}</label>

                <div class="grid grid-2col no-gap">
                    <label>{{localize "earthdawn.c.cost"}}</label>
                    <input type="number" name="system.cost" value="{{item.system.cost}}">

                    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/selects/select-availability.hbs"}}
                </div>
            </div>
        </li>
    </ol>
</div>

