.earthdawn.sheet.spell {
    form {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .flexColumn {
        height: 100%;
        display: flex;
        flex-direction: column;
        .editor {
            height: 100%;
        }
    }
    
} 
.effects.icon-left {
    margin-left: auto;
}
.spell-nav {
    height: 18px;
  }