<form class="taka-theme item flexcol" autocomplete="off">

    <!-- SHEET HEADER -->
    {{> "systems/earthdawn4e/templates/taka-theme/items/partials/discipline-sheet-header.hbs"}}

    <!-- SHEET BODY -->
    <section class="sheet-body flexrow discipline-body">
        {{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/discipline-sidebar.hbs'}}

        <div class="tab active flexrow" id="description" data-group="primary" data-tab="description">
            {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="discipline-values">
            {{editor enrichment.system.descriptionGameInfo target="system.descriptionGameInfo" button=true owner=owner
                     editable=editable engine="prosemirror"}}
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-1">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle1.characteristic"
                            value="{{item.system.circle1.characteristic}}">
                        {{#select item.system.circle1.characteristic}}
                            <option value="">{{localize
                                    "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle1.value" value="{{item.system.circle1.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-novice')}}</h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle1 target="system.descriptionCircle1" button=true owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle1 target="system.descriptionCircle1" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-2">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle2.characteristic"
                            value="{{item.system.circle2.characteristic}}">
                        {{#select item.system.circle2.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle2.value" value="{{item.system.circle2.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-novice')}}</h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle2 target="system.descriptionCircle2" button=true owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle2 target="system.descriptionCircle2" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-3">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle3.characteristic"
                            value="{{item.system.circle3.characteristic}}">
                        {{#select item.system.circle3.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle3.value" value="{{item.system.circle3.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-novice')}}</h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle3 target="system.descriptionCircle3" button=true owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle3 target="system.descriptionCircle3" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-4">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle4.characteristic"
                            value="{{item.system.circle4.characteristic}}">
                        {{#select item.system.circle4.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle4.value" value="{{item.system.circle4.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-novice')}}</h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle4 target="system.descriptionCircle4" button=true owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle4 target="system.descriptionCircle4" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-5">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle5.characteristic"
                            value="{{item.system.circle5.characteristic}}">
                        {{#select item.system.circle5.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle5.value" value="{{item.system.circle5.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-journeyman')}}</h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true
                             owner=owner editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle5 target="system.descriptionCircle5" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle5 target="system.descriptionCircle5" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-6">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle6.characteristic"
                            value="{{item.system.circle6.characteristic}}">
                        {{#select item.system.circle6.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle6.value" value="{{item.system.circle6.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-journeyman')}}</h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true
                             owner=owner editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle6 target="system.descriptionCircle6" button=true owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle6 target="system.descriptionCircle6" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-7">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle7.characteristic"
                            value="{{item.system.circle7.characteristic}}">
                        {{#select item.system.circle7.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle7.value" value="{{item.system.circle7.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-journeyman')}}</h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true
                             owner=owner editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle7 target="system.descriptionCircle7" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle7 target="system.descriptionCircle7" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-8">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle8.characteristic"
                            value="{{item.system.circle8.characteristic}}">
                        {{#select item.system.circle8.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle8.value" value="{{item.system.circle8.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-journeyman')}}</h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true
                             owner=owner editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle8 target="system.descriptionCircle8" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle8 target="system.descriptionCircle8" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-9">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle9.characteristic"
                            value="{{item.system.circle9.characteristic}}">
                        {{#select item.system.circle9.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle9.value" value="{{item.system.circle9.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-warden')}}</h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle9 target="system.descriptionCircle9" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle9 target="system.descriptionCircle9" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-10">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle10.characteristic"
                            value="{{item.system.circle10.characteristic}}">
                        {{#select item.system.circle10.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle10.value" value="{{item.system.circle10.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-warden')}}</h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle10 target="system.descriptionCircle10" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle10 target="system.descriptionCircle10" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-11">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle11.characteristic"
                            value="{{item.system.circle11.characteristic}}">
                        {{#select item.system.circle11.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle11.value" value="{{item.system.circle11.value}}"/>
                </div>

                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-warden')}}</h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle11 target="system.descriptionCircle11" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle11 target="system.descriptionCircle11" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="tab flexrow" data-group="primary" data-tab="circle-12">
            <div class='grid grid-2col'>
                <div class="grid-span-2 grid grid-3col">
                    <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                    <select class="inherent-width" name="system.circle12.characteristic"
                            value="{{item.system.circle12.characteristic}}">
                        {{#select item.system.circle12.characteristic}}
                            <option value="">{{localize "earthdawn.n.none"}}</option>
                            <option value="carryingcapacity">{{localize
                                    "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                            <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                            <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                            <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                            <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                            <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                            <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                        {{/select}}
                    </select>
                    <input type="number" name="system.circle12.value" value="{{item.system.circle12.value}}"/>
                </div>
                <div class='grid-span-2'>
                    <hr class="line-simple">
                    <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-warden')}}</h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner
                             editable=editable engine="prosemirror"}}
                </div>

                {{#if (eq item.system.discipline "discipline")}}
                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle12 target="system.descriptionCircle12" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}

                {{#if (eq item.system.discipline "path")}}
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-abilities')}}</h3>
                        {{editor enrichment.system.descriptionCircle12 target="system.descriptionCircle12" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if (eq item.system.discipline "discipline")}}
            <div class="tab flexrow" data-group="primary" data-tab="circle-13">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="system.circle13.characteristic"
                                value="{{item.system.circle13.characteristic}}">
                            {{#select item.system.circle13.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="system.circle13.value" value="{{item.system.circle13.value}}"/>
                    </div>
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-master')}}</h3>
                        {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner
                                 editable=editable engine="prosemirror"}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle13 target="system.descriptionCircle13" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                </div>
            </div>
            <div class="tab flexrow" data-group="primary" data-tab="circle-14">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="system.circle14.characteristic"
                                value="{{item.system.circle14.characteristic}}">
                            {{#select item.system.circle14.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="system.circle14.value" value="{{item.system.circle14.value}}"/>
                    </div>
                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-master')}}</h3>
                        {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner
                                 editable=editable engine="prosemirror"}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle14 target="system.descriptionCircle14" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                </div>
            </div>
            <div class="tab flexrow" data-group="primary" data-tab="circle-15">
                <div class='grid grid-2col'>
                    <div class="grid-span-2 grid grid-3col">
                        <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        <select class="inherent-width" name="system.circle15.characteristic"
                                value="{{item.system.circle15.characteristic}}">
                            {{#select item.system.circle15.characteristic}}
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="carryingcapacity">{{localize
                                        "earthdawn.e.encumbranceCarryingCapacity"}}</option>
                                <option value="initiative">{{localize "earthdawn.i.initiative"}}</option>
                                <option value="mysticarmor">{{localize "earthdawn.a.armorMystical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="physicalarmor">{{localize "earthdawn.a.armorPhysical"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                                <option value="woundthreshold">{{localize "earthdawn.w.woundThreshold"}}</option>
                            {{/select}}
                        </select>
                        <input type="number" name="system.circle15.value" value="{{item.system.circle15.value}}"/>
                    </div>

                    <div class='grid-span-2'>
                        <hr class="line-simple">
                        <h3>{{localize (DisciplineOrOther item.system.discipline 'talent-master')}}</h3>
                        {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner
                                 editable=editable engine="prosemirror"}}
                    </div>

                    <div class='grid-span-2'>
                        <h3>{{localize "earthdawn.d.disciplineTalent"}}</h3>
                        {{editor enrichment.system.descriptionCircle15 target="system.descriptionCircle15" button=true
                                 owner=owner editable=editable engine="prosemirror"}}
                    </div>
                </div>
            </div>
        {{/if}}
    </section>
</form>
