.earthdawn.sheet.actor, .earthdawn.sheet.mask{
  .creatureLeftBar {
    float: left;
    width: 49%;
  }

  .creatureRightBar {
    float: right;
    width: 49%;
  }

  .creatureStats {
    height: 252px;
  }

  .creatureStatsTable {
    border: none;
  }

  .creatureImg {
    width: 230px;
    height: 230px;
  }

  .creatureImgPosition {
    float: right;
    margin: 18px 10px 5px 5px;
  }

  .navLeft {
    float: left;
    margin-left: 10px;
  }

  .navRight {
    float: right;
    margin-right: 10px;
  }

  .circleLeft {
    float: left;
    width: 33.33%;
  }

  .circleMiddle {
    float: left;
    width: 33.33%;
  }

  .circleRight {
    float: right;
    width: 33.33%;
  }

  .alignmentCenter {
    text-align: center;
  }

  .circleRow {
    height: 95px;
  }

  .circleInputDropDown {
    border: 1px solid;
    text-align: center;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    padding-left: 10px;
  }

  .initiativeLeft {
    float: left;
    width: 50%;
    margin-left: 5px;
    padding-top: 17px;
  }

  .initiativeRight {
    float: right;
    width: 30%;
    margin-right: 5px;
    padding-top: 25px;
  }

  .creatureCharacteristics {
    height: 300px;
  }

  .marginLeft10 {
    margin-left: 20px;
  }

  .marginRight10 {
    margin-right: 20px;
  }

  .creatureCirclesPadding {
    padding-top: 17px;
  }

  .otherInput {
    background: none;
    height: 14px;
    border: none;
  }

  .vertialAlignMiddle {
    padding-top: 5px;
  }

  .creatureActions {
    height: 280px;
  }

  .creatureInformation {
    height: 400px;

    .flexDescription {
      height: 100%;
      display: flex;
      flex-direction: column;

      .editor {
        height: 100%;
      }
    }
  }

  .sheet.creature {
    form {
      display: flex;
      flex-direction: column;
    }
  }

  .creatureInitiative {
    height: 20px;
  }

  .creatureButtons {
    width: 33%;
  }
}

.text-align-right{
  justify-content: flex-end;
}
