<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <section class="leftbar">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
        <h3 id="Name" class="charname">{{localize "earthdawn.n.name"}} <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h3>
        <!--  character information -->
        <div id="backgroundGeneral" class="characterInformation">
            <table>
                <tr>
                    <!-- this field shall fill by drag and drop of Race Item-->
                    <td name="system.race">{{localize "earthdawn.r.race"}}</td>
                    <td class="padding-top-5 padding-middle-8">
                        {{#each namegivers as |namegiver id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/discipline-card.hbs" namegiver}}
                        {{/each}}
                        <!--<input name="system.race" type="text" value="{{actor.system.race}}" data-dtype="String"/>-->
                    </td>
                    <td>{{localize "earthdawn.g.gender"}}</td>
                    <td>
                        <input name="system.gender" type="text" value="{{actor.system.gender}}" data-dtype="String"/>
                    </td>
                </tr>
                <tr>
                     <td>{{localize "earthdawn.a.age"}}</td>
                    <td>
                        <input name="system.age" type="text" value="{{actor.system.age}}" data-dtype="Number"/>
                    </td>
                    <td name="race">{{localize "earthdawn.h.hair"}}</td>
                    <td>
                        <input name="system.hair" type="text" value="{{actor.system.hair}}" data-dtype="String"/>
                    </td>
                </tr>
                <tr>
                    <td name="race">{{localize "earthdawn.s.skin"}}</td>
                    <td>
                        <input name="system.skin" type="text" value="{{actor.system.skin}}" data-dtype="String"/>
                    </td>
                    <td name="race">{{localize "earthdawn.e.eyes"}}</td>
                    <td>
                        <input name="system.eyes" type="text" value="{{actor.system.eyes}}" data-dtype="String"/>
                    </td>
                </tr>
                <tr>
                    <td name="race" class="test-roll">{{localize "earthdawn.h.height"}}</td>
                    <td>
                        <input name="system.height" type="text" value="{{actor.system.height}}" data-dtype="String"/>
                    </td>
                    <td name="race">{{localize "earthdawn.w.weight"}}</td>
                    <td>
                        <input name="system.weight" type="text" value="{{actor.system.weight}}" data-dtype="Number"/>
                    </td>
                </tr>
                <tr>
                    <td name="passion">{{localize "earthdawn.p.passion"}}</td>
                    <td>
                        <input name="system.passion" type="text" value="{{actor.system.passion}}" data-dtype="String"/>
                    </td>
                </tr>
            </table>
        </div>
        <!-- discipline list -->
        <div class="disciplin">
            <hr>
            <h3>{{localize "earthdawn.d.discipline"}}</h3>
            <div class="discipline-list item-list">
                {{#each disciplines as |discipline id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/discipline-card.hbs" discipline}}
                {{/each}}
            </div>
            <hr>
        </div>

        <!-- attributes -->

        <div class="attributes">
            <h3>
              {{localize "earthdawn.a.attributes"}} <a class="item-control item-upgrade" data-action="attribute" title="{{localize 'earthdawn.i.improveAttributeValues'}}"><i class="fas fa-arrow-circle-up"></i></a>
            </h3>
            <table>
                <tr id="gradAlignmentSizeAttributes">
                    <th></th>
                    {{#if (eq actor.type "pc")}}<th id="gradAlignment">{{localize "earthdawn.c.currentValue"}}</th>{{/if}}
                    <th id="gradAlignment">{{localize "earthdawn.s.step"}}</th>
                    <th id="gradAlignment">{{localize "earthdawn.d.diceAction"}}</th>
                </tr>

                <tr>
                    <td class="attribute-roll" name="dexterityName" data-name="earthdawn.d.dexterity" data-att="dexterityStep">
                        <a>{{localize "earthdawn.d.dexterity"}}</a><br>
                    </td>
                    {{#if (eq actor.type "pc")}}
                    <td>
                        <input name="system.attributes.dexterityvalue" type="text" value="{{actor.system.attributes.dexterityvalue}}" data-dtype="Number"/><br>
                    </td>
                    {{/if}}
                    <td>
                        <input name="system.dexterityStep" type="text" value="{{actor.system.dexterityStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/><br>
                    </td>
                    <td>
                        <input name="system.dexterityDice" type="text" value="{{actor.system.dexterityDice}}" data-dtype="String" readonly/><br>
                    </td>
                </tr>

                <tr>
                    <td class="attribute-roll" name="strengthName" data-name="earthdawn.s.strength" data-att="strengthStep"><a>{{localize "earthdawn.s.strength"}}</a></td>
                    {{#if (eq actor.type "pc")}}<td>
                        <input name="system.attributes.strengthvalue" type="text" value="{{actor.system.attributes.strengthvalue}}" data-dtype="Number"/>
                    </td>{{/if}}
                    <td>
                        <input name="system.strengthStep" type="text" value="{{actor.system.strengthStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                    </td>
                    <td>
                        <input name="system.strengthDice" type="text" value="{{actor.system.strengthDice}}" data-dtype="String" readonly/>
                    </td>
                </tr>
                <tr>
                    <td class="attribute-roll" name="toughnessName" data-name="earthdawn.t.toughness" data-att="toughnessStep"><a>{{localize "earthdawn.t.toughness"}}</a></td>
                    {{#if (eq actor.type "pc")}}<td>
                        <input name="system.attributes.toughnessvalue" type="text" value="{{actor.system.attributes.toughnessvalue}}" data-dtype="Number"/>
                    </td>{{/if}}
                    <td>
                        <input name="system.toughnessStep" type="text" value="{{actor.system.toughnessStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                    </td>
                    <td>
                        <input name="system.toughnessDice" type="text" value="{{actor.system.toughnessDice}}" data-dtype="String" readonly/>
                    </td>
                </tr>
                <tr>
                    <td class="attribute-roll" name="perceptionName" data-name="earthdawn.p.perception" data-att="perceptionStep"><a>{{localize "earthdawn.p.perception"}}</a></td>

                    {{#if (eq actor.type "pc")}}<td>
                        <input name="system.attributes.perceptionvalue" type="text" value="{{actor.system.attributes.perceptionvalue}}" data-dtype="Number"/>
                    </td>{{/if}}
                    <td>
                        <input name="system.perceptionStep" type="text" value="{{actor.system.perceptionStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                    </td>
                    <td>
                        <input name="system.perceptionDice" type="text" value="{{actor.system.perceptionDice}}" data-dtype="String" readonly/>
                    </td>
                </tr>
                <tr>
                    <td class="attribute-roll" name="willpowerName" data-name="earthdawn.w.willpower" data-att="willpowerStep"><a>{{localize "earthdawn.w.willpower"}}</a></td>

                    {{#if (eq actor.type "pc")}}<td>
                        <input name="system.attributes.willpowervalue" type="text" value="{{actor.system.attributes.willpowervalue}}" data-dtype="Number"/>
                    </td>{{/if}}
                    <td>
                        <input name="system.willpowerStep" type="text" value="{{actor.system.willpowerStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                    </td>
                    <td>
                        <input name="system.willpowerDice" type="text" value="{{actor.system.willpowerDice}}" data-dtype="String" readonly/>
                    </td>
                </tr>
                <tr>
                    <td class="attribute-roll" name="charismaName" data-name="earthdawn.c.charisma" data-att="charismaStep"><a>{{localize "earthdawn.c.charisma"}}</a></td>

                    {{#if (eq actor.type "pc")}}<td>
                        <input name="system.attributes.charismavalue" type="text" value="{{actor.system.attributes.charismavalue}}" data-dtype="Number"/>
                    </td>{{/if}}
                    <td>
                        <input name="system.charismaStep" type="text" value="{{actor.system.charismaStep}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                    </td>
                    <td>
                        <input name="system.charismaDice" type="text" value="{{actor.system.charismaDice}}" data-dtype="String" readonly/>
                    </td>
                </tr>
            </table>
        </div>
        <!-- actions needed on a daily basis -->
        <div class="generalActions">
            <h3>{{localize "earthdawn.a.actions"}}</h3>
            <section>
                <div name="karma">
                    <div class="centeredInput">
                        <h4><a class="new-day">{{localize "earthdawn.k.karma"}}</a></h4>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="CurrentKarma">
                                    {{localize "earthdawn.k.karmaCurrent"}}
                                </span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.karma.value" type="text" value="{{actor.system.karma.value}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="karmaMaximum">{{localize "earthdawn.k.karmaMaximum"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.karma.max" type="text" value="{{actor.system.karma.max}}" data-dtype="Number" {{#if (eq actor.type "pc")}}readonly{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span  id="test" class="lineBreak" name="karmaUsage">{{localize "earthdawn.u.use"}}</span>
                            </div>
                            <div>
                                <span>
                                    <select name="system.usekarma" value="{{actor.system.usekarma}}"{{#select actor.system.usekarma}}>
                                    <option value="true">{{localize "earthdawn.y.yes"}}</option>
                                    <option value="false">{{localize "earthdawn.n.no"}}</option>
                                    {{/select}}
                                    </select>
                                </span>
                            </div>
                            <div>
                                <span>
                                    <select name="system.karmaDie" value="{{actor.system.karmaDie}}"{{#select actor.system.karmaDie}}>
                                    <option value="d4">{{localize "earthdawn.d.d"}}4</option>
                                    <option value="d6">{{localize "earthdawn.d.d"}}6</option>
                                    <option value="d8">{{localize "earthdawn.d.d"}}8</option>
                                    <option value="d10">{{localize "earthdawn.d.d"}}10</option>
                                    <option value="d12">{{localize "earthdawn.d.d"}}12</option>
                                    <option value="S8">2{{localize "earthdawn.d.d"}}6</option>
                                    <option value="S9">1{{localize "earthdawn.d.d"}}8 + 1{{localize "earthdawn.d.d"}}6</option>
                                    <option value="S10">2{{localize "earthdawn.d.d"}}8</option>
                                    <option value="d20">{{localize "earthdawn.d.d"}}20</option>
                                    <option value="S12">{{localize "earthdawn.d.d"}}12</option>
                                    {{/select}}
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
            {{#if (hasDisciplineType disciplines 'questor')}}
            <section class="space">
                <div name="devotion">
                    <div class="centeredInput">
                        <h4><a>{{localize "earthdawn.d.devotion"}}</a></h4>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="CurrentDevotion">
                                    {{localize "earthdawn.d.devotionCurrent"}}
                                </span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.devotion.value" type="text" value="{{actor.system.devotion.value}}" data-dtype="Number"/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span class="lineBreak" name="devotionMaximum">{{localize "earthdawn.d.devotionMax"}}</span>
                            </div>
                            <div>
                                <input class="circleInput" name="system.devotion.max" type="text" value="{{actor.system.devotion.max}}" data-dtype="Number" {{#if (eq actor.type "pc")}}{{/if}}/>
                            </div>
                        </div>
                        <div class="partial-three">
                            <div>
                                <span  id="test" class="lineBreak" name="karmaUsage">{{localize "earthdawn.d.devotionDie"}}</span>
                            </div>
                            <div>
                                <span>
                                    <select name="system.devotionDie" value="{{actor.system.devotionDie}}"{{#select actor.system.devotionDie}}>
                                    <option value="d4">{{localize "earthdawn.d.d"}}4</option>
                                    <option value="d6">{{localize "earthdawn.d.d"}}6</option>
                                    <option value="d8">{{localize "earthdawn.d.d"}}8</option>
                                    {{/select}}
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{/if}}
            <section class="space">
                <div>
                    <div name="halfmagic" class="partial-two">
                         <div class="centeredInput">
                            <h4>{{localize "earthdawn.h.halfmagic"}}</h4>
                        </div>
                        <div class="centeredInput">
                            <i class="fas fa-dice-d20 half-magic" title="{{localize "earthdawn.h.halfmagicRoll"}}"></i>
                        </div>
                    </div>
                    <div name="dailyRest" class="partial-two">
                        <div class="centered">
                            <h4>{{localize "earthdawn.n.newDay"}}</h4>
                        </div>
                        <div class="centeredInput">
                            <a><i class="fas fa-bed new-day" title="{{localize "earthdawn.n.newDay"}}"></i></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="space">
            <h3>{{localize "earthdawn.g.generationProgress"}}</h3>
            {{#if (PC this)}}
                <!-- Dialogs -->
                <div>
                    <h3><Button class='chargen'>{{localize "earthdawn.c.characterGeneration"}}</Button></h3>
                </div>
                <div>
                    <h3><button class='showLPtracking'>{{localize "earthdawn.s.showLPtracking"}}</button></h3>
                </div>
		    {{/if}}
        </div>

    </section>
    <!-- Tabs -->
    <!-- the tabs will be all in this file until i understand how to load the information from diferent files-->
    <section class="rightbar space-smaller">
        <section class="test">
            <section class="space-holder">

            </section>
    <!-- the tabs shall be on the right charactersheet side from top to bottom-->
    <!-- the style stuff should go into css-->
            <nav class="sheet-tabs tabs space-small" data-group="primary" Style="height: 70px;" Style="border: 0cm;">

                <a id="gradAlignmentNavigator" class="tabID" data-tab="characteristics">{{localize "earthdawn.c.characteristics"}}</a>
                <a id="gradAlignmentNavigator" class="tabID" data-tab="talents">{{localize "earthdawn.t.talentsSkills"}}</a>
                {{#if (hasItems spells)}}
                <a id="gradAlignmentNavigator" class="tabID" data-tab="spells">{{localize "earthdawn.s.spells"}}</a>
                {{else}}
                    {{#if (hasItems matrixes)}}
                    <a id="gradAlignmentNavigator" class="tabID" data-tab="spells">{{localize "earthdawn.s.spells"}}</a>
                    {{/if}}
                {{/if}}
                <a id="gradAlignmentNavigator" class="tabID" data-tab="inventory">{{localize "earthdawn.i.inventory"}}</a>
                <a id="gradAlignmentNavigator" class="tabID" data-tab="combat">{{localize "earthdawn.c.combat"}}</a>
                <a id="gradAlignmentNavigator" class="tabID" data-tab="storyNotes">{{localize "earthdawn.s.storyNotesLegend"}}</a>
            </nav>
        </section>
        <section class="sheet-body">
          <!-- characteristics sheet-->
            <div class="tab characteristics" data-group="primary" data-tab="characteristics">
                <div class="characteristicsTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/characteristics-tab.hbs"}}
                </div>
            </div>
            <!-- talents sheet-->
            <div class="tab talents" data-group="primary" data-tab="talents">
                <div class="talentsTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/talents-tab.hbs"}}
                </div>
            </div>
            <!-- spells sheet-->
            {{#if (hasItems spells)}}
            <div class="tab spells" data-group="primary" data-tab="spells">
                <div class="spellsTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/spells-tab.hbs"}}
                </div>
            </div>
            {{else}}
                {{#if (hasItems matrixes)}}
                    <div class="tab spells" data-group="primary" data-tab="spells">
                        <div class="spellsTab">
                            {{> "systems/earthdawn4e/templates/actors/partials/spells-tab.hbs"}}
                        </div>
                    </div>
                {{/if}}
            {{/if}}
            <!-- inventory sheet-->
            <div class="tab inventory" data-group="primary" data-tab="inventory">
                <div class="inventoryTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/inventory-tab.hbs"}}
                </div>
            </div>
            <!-- combat sheet-->
            <div class="tab combat" data-group="primary" data-tab="combat">
                <div class="combatTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/combat-tab.hbs"}}
                </div>
            </div>
            <!-- storyNotes sheet-->
            <div class="tab storyNotes" data-group="primary" data-tab="storyNotes">
                <div class="storyNotesTab">
                    {{> "systems/earthdawn4e/templates/actors/partials/story-notes-tab.hbs"}}
                </div>
            </div>
        </section>
    </section>
</form>
