
        <div style="display: none" class="show-hidden hidden-tab hidden-strecht hidden-tab-modifier">

                <ul>
                    {{#each messageData.activeMods as |mod|}}
                        <li>{{mod}}</li>
                    {{/each}}
                </ul>

        </div>


    
