/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.taka-theme.actor.creature {
  .sheet-body {
    .normal {
      max-width: 195px !important;
      flex: 0 0 195px !important;
    }

    .actor-properties {
      .properties-list {
        .sub-title {
          margin-right: 40px !important;
        }
        input {
          text-align: left;
        }
      }
    }
  }
}
