<select name="system.usekarma" value="{{actor.system.usekarma}}"
	{{#select actor.system.usekarma}}>
		<option value="true">{{localize "earthdawn.y.yes"}}</option>
		<option value="false">{{localize "earthdawn.n.no"}}</option>
	{{/select}}
</select>
