<div class="item-name no-flex">
    <h3>{{localize "earthdawn.a.armors"}}</h3>
</div>
<table>
    <tr>
        <th class="item-image margin-right-5"></th>
        <th>{{localize "earthdawn.n.name"}}</th>
        <th>{{localize "earthdawn.p.physicalArmor"}}</th>
        <th>{{localize "earthdawn.m.mysticArmor"}}</th>
        <th></th>
        <th class="centered">
            <a class="item-control item-create" data-type='armor' title="{{localize 'earthdawn.i.itemCreate'}}">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </tr>

    {{#each armor as |item i|}}
        {{> 'systems/earthdawn4e/templates/taka-theme/actors/partials/cards/armor-card.hbs' item}}
    {{/each}}
</table>

