<div class="tab-effects" data-group="primary" data-tab="effects">
    <div class="tab" data-group="primary" data-tab="effects">
        <div class="conditions">
            <table>
                {{!-- <tr>
                    <td>{{localize "earthdawn.e.effectModifier"}}</td>
                    <td>
                        <input name="system.effectMultiplier" type="text" value="{{item.system.effectMultiplier}}" data-dtype="String"/>
                    </td>
                </tr> --}}
                <tr>
                    <td>{{localize "earthdawn.d.difficulty"}}</td>
                    <td>
                        <select name="system.defenseTarget" type="string" value="{{item.system.defenseTarget}}" data-dtype="String" 
                            {{#select item.system.defenseTarget}}/>
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="physicaldefense">{{localize "earthdawn.d.defensePhysical"}}</option>
                                <option value="mysticdefense">{{localize "earthdawn.d.defenseMagical"}}</option>
                                <option value="socialdefense">{{localize "earthdawn.d.defenseSocial"}}</option>
                            {{/select}}
                        </select>
                    </td>
                    <td>{{localize "earthdawn.d.defenseGroup"}}</td>
                    <td>
                        <select name="system.defenseGroup" type="string" value="{{item.system.defenseGroup}}" data-dtype="String" 
                            {{#select item.system.defenseGroup}}/>
                                <option value="">{{localize "earthdawn.n.none"}}</option>
                                <option value="defenseHigh">{{localize "earthdawn.d.defeneseHighest"}}</option>
                                <option value="defenseHighPlus">{{localize "earthdawn.d.defeneseHighest#"}}</option>
                                <option value="defenseLow">{{localize "earthdawn.d.defenseLowest"}}</option>
                                <option value="defenseLowPlus">{{localize "earthdawn.d.defenseLowest#"}}</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="effects">  
            <table>
                <h3 class="headerLine">
                    <div>
                        <span>
                            {{localize "earthdawn.e.effects"}}
                        </span>
                        <span class="icon-left">
                            <a class="effect-add icon-left" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                            <I class="fas fa-plus"></I>
                            </a>
                        </span>
                    </div>
                </h3>
                <tr>
                    <div class="item-list effects-list">
                        
                        {{#each item.effects as |effects id|}}
                        {{> "systems/earthdawn4e/templates/actors/partials/effects-card.hbs" effects }}
                        {{/each}}
                    </div>
                </tr>
            </table> 
        </div>
    </div>
</div>