<div class="combatTab">
    <h2>{{localize "earthdawn.c.combat"}}</h2>
    <div class="inventoryTab">          
        <div class="section-header">
            <h3>{{localize "earthdawn.w.weapons"}}</h3>
        </div>
        <table class="text-align-middle">
            <tr>
                <div class="item-list weapon-list">
                    {{#each equippedweapons as |weapon id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/weapon-card.hbs" weapon attributes=../actor.system}}
                    {{/each}}
                </div>
            </tr>
        </table>
    </div>
    <!-- Health -->
    <div class="centeredInput">
        <div class="partial-five">
            <div>
                <span name="damageValue">{{localize "earthdawn.d.damageCurrent"}}</span>
            </div>
            <div class="partial-two">
                <div>
                    <input class="circleInput"  type="text" value="{{actor.system.damage.stun}}" data-dtype="Number" readonly/>
                </div>
            </div>
            <div class="partial-two">
                <div>
                    <input class="circleInput"  type="text" value="{{actor.system.damage.value}}" data-dtype="Number" readonly/>
                </div>
            </div>

        </div>
        <div class="partial-five">
            <div>
                <span name="wounds">{{localize "earthdawn.w.woundsAmount"}}</span>
            </div>
            <br>
            <div>
                <input class="circleInput"  type="text" value="{{actor.system.wounds}}" data-dtype="Number" readonly/>
            </div>
        </div>
        <div class="partial-five">
            <div>
                <span name="woundValue">{{localize "earthdawn.w.woundThreshold"}}</span>
            </div>
            <div>
                <input class="circleInput" type="text" value="{{actor.system.woundThreshold}}" data-dtype="Number" readonly/>
            </div>
        </div>
        <div class="partial-five">
            <div>
                <span>{{localize "earthdawn.u.unconsciousnessRating"}}</span>
            </div>
            <div>
                <input class="circleInput" name="system.unconscious.max" value="{{actor.system.unconscious.max}}" type="text" data-dtype="Number" readonly />
            </div>
        </div>
        <div class="partial-five">
            <div>
                <span>{{localize "earthdawn.d.deathRating"}}</span>
            </div>
            <div>
                <input class="circleInput" name="system.damage.max" value="{{actor.system.damage.max}}" type="text" data-dtype="Number" readonly />
            </div>
        </div>
    </div>
    
    <!-- initiative -->
    <div class="space">
        <div class="partial-five centeredInput">
            <div>
                <label>{{localize "earthdawn.i.initiative"}} </label>
            </div>
            <br>
            <div>
                <input class="circleInput step-display space" name="system.initiativeStep" type="text" value="{{actor.system.initiativeStep}}" />
            </div>
        </div>
        <div class="partial-five centeredInput">
            <label>{{localize "earthdawn.i.initiativeDice"}} </label>
            <input class="circleInputInitiative step-display space" name="system.initiativeDice" type="text" value="{{actor.system.initiativeDice}}" readonly/>
        </div>
        <div class="partial-four-a">

        </div>
        <div class="partial-three space-smaller">
            <div class="padding-left-8">
                <button class="buttonAction take-damage">{{localize "earthdawn.t.takeDamage"}}</button>
            </div>
        </div>                 
    </div>
    &nbsp;
    <!-- Button and Boxes -->
    <div class="combatTabPlayer">
        
        <div class="partial-three space-small">
            <!-- combat modifier -->
            <h3>{{localize "earthdawn.c.combatModifier"}}</h3>
            <div>
                <h4>{{localize "earthdawn.c.combatOptions"}}</h4>
            </div>  
            <div  class="text-align-middle">
                <input class="actionOption text-align-middle tactics-aggressive" id="tactics-aggressive" type="checkbox" name="system.tactics.aggressive" {{checked actor.system.tactics.aggressive}}>
                <label class="text-align-middle" title="{{localize 'earthdawn.c.combatModAggressive'}}">{{localize "earthdawn.c.combatOptionsAggressive"}}</label>
            </div>
            <div  class="text-align-middle">
                <input class="actionOption text-align-middle tactics-defensive" id="tactics-defensive" type="checkbox" name="system.tactics.defensive" {{checked actor.system.tactics.defensive}}  title="{{localize 'earthdawn.a.combatOptionsDefensive'}}">
                <label class="text-align-middle" title="{{localize 'earthdawn.c.combatModDefensive'}}">{{localize "earthdawn.c.combatOptionsDefensive"}}</label>
            </div>
            <!-- <div  class="text-align-middle">
                <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatOptionsAgainstCharge}} data-dtype="Boolean" data-property="system.combatOptionsAgainstCharge" title="{{localize 'earthdawn.a.combatOptionsAgainstCharge'}}">
                <label class="text-align-middle">
                    {{localize "earthdawn.c.combatOptionsAgainstCharge"}}
                </label>
            </div> -->

        &nbsp;
        <!-- Situation modifier -->
        <h4>{{localize "earthdawn.c.combatSituationModifier"}}</h4>
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle tactics-knockeddown" id="tactics-knockeddown" type="checkbox" title="{{localize 'earthdawn.c.combatModifierKnockedDown'}}" {{checked actor.system.tactics.knockeddown}} name="system.tactics.knockeddown">
            <label class="text-align-middle padding-right-8" title="{{localize 'earthdawn.c.combatModKnockedDown'}}">{{localize "earthdawn.c.combatModifierKnockedDown"}}</label>
        
        </div>
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle tactics-harried" id="tactics-harried" type="checkbox" {{checked actor.system.tactics.harried}} name="system.tactics.harried" title="{{localize 'earthdawn.c.combatModifierHarried'}}">
            <label class="text-align-middle" title="{{localize 'earthdawn.c.combatModHarried'}}">{{localize "earthdawn.c.combatModifierHarried"}}</label>
        </div> 
        <!--<div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.tactics.fatigue}} data-property="system.tactics.fatigue" title="{{localize 'earthdawn.c.combatModifierFatigue'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierFatigue"}}
            </label>
            <div class="circleRight">
                <input class="circleRight circleInput" name="system.fatigue.times" value="{{actor.system.fatigue.times}}" type="text" data-dtype="Number" />
            </div>
        </div>-->

        <!-- not yet included functionality
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierBlindsided}} data-dtype="Boolean" data-property="system.combatModifierBlindsided" title="{{localize 'earthdawn.a.combatModifierBlindsided'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierBlindsided"}}
            </label>
        </div>
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierCoverPartial}} data-dtype="Boolean" data-property="system.combatModifierCoverPartial" title="{{localize 'earthdawn.a.combatModifierCoverPartial'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierCoverPartial"}}
            </label>
        </div>
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierCoverFull}} data-dtype="Boolean" data-property="system.combatModifierCoverFull" title="{{localize 'earthdawn.a.combatModifierCoverFull'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierCoverFull"}}
            </label>
        </div>          
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierDarknessPartial}} data-dtype="Boolean" data-property="system.combatModifierDarknessPartial" title="{{localize 'earthdawn.a.combatModifierDarknessPartial'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierDarknessPartial"}}
            </label>
        </div>          
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierDarknessFull}} data-dtype="Boolean" data-property="system.combatModifierDarknessFull" title="{{localize 'earthdawn.a.combatModifierDarknessFull'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierDarknessFull"}}
            </label>
        </div>         
        <div  class="text-align-middle">
            <input class="actionOption text-align-middle" type="checkbox" {{checked item.system.combatModifierSurprised}} data-dtype="Boolean" data-property="system.combatModifierSurprised" title="{{localize 'earthdawn.a.combatModifierSurprised'}}">
            <label class="text-align-middle">
                {{localize "earthdawn.c.combatModifierSurprised"}}
            </label>
        </div>   
        -->         
        </div>
        <div class="partial-three space-small">
            <h3>{{localize "earthdawn.h.hotlist"}}</h3>
            {{#each favorites as |favorite id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/talent-card-short.hbs" favorite}}
            {{/each}}
        </div> 
        <div class="partial-three space-small">
            <h3>{{localize "earthdawn.a.action"}}</h3>
            <div class="padding-left-8">
                <button class="buttonAction knockdown-test">{{localize "earthdawn.c.combatOptionsKnockdownTest"}}</button>
            </div>
            <div class="padding-left-8">
                <button class="buttonAction jump-up">{{localize "earthdawn.c.combatOptionsJumpUp"}}</button>
            </div>
        </div> 
    </div>
    <!-- Button and Boxes II -->
    {{#if (eq actor.type 'npc')}}
        <div>
            <table>
                <tr>
                    <td>
                        <label>{{localize "earthdawn.a.action"}}</label>
                    </td>
                    <td>
                        <input name="system.action" type="text" value="{{actor.system.action}}" />
                    </td>
                    <td>
                        <label>{{localize "earthdawn.k.knockdownStep"}} </label>
                    </td>
                    <td>
                        <input class="step-display" name="system.knockdown" type="text" value="{{actor.system.knockdown}}" />
                    </td>
                </tr>
            </table>      
        </div>
        <!-- NPC Powers -->
        <div class="npcPowers">
            <table>
                <tr>                
                    <div class="item-list attack-list">
                        <h3>{{localize "earthdawn.a.attack"}}</h3>
                        {{#each (getAttackType attacks 'Attack') as |attack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                        {{/each}}
                    </div>             
                    <div class="item-list attack-list">
                        <h3>{{localize "earthdawn.m.maneuver"}}</h3>
                        {{#each (getAttackType attacks 'Maneuver') as |attack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                        {{/each}}
                    </div>
                    <div class="item-list attack-list">
                        <h3>{{localize "earthdawn.p.power"}}</h3>
                        {{#each (getAttackType attacks 'Power') as |attack id|}}
                            {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                        {{/each}}
                    </div>
                </tr>
            </table>
        </div> 
    {{/if}}
    <!-- Effects -->
    <div class="effects ">  
        <table>
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.e.effects"}}
            </div>
            <a class="effect-add" data-type="effect" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
            <tr>
                <div class="item-list effects-list">
                    {{#each effects as |effects id|}}
                    {{> "systems/earthdawn4e/templates/actors/partials/effects-card.hbs" effects}}
                    {{/each}}
                </div>
            </tr>
        </table> 
    </div>
</div>
