<div class="creatureCharacteristicTab">
    <div class="creatureCharacteristics">
        <div class="creatureLeftBar">
            <div class="creatureDefenses circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.d.defense"}}</h3>
                <div class="centeredInput">
                    <div class="circleLeft">
                        <div>
                            <span class="lineBreak" name="defensePhysical">{{localize "earthdawn.d.defensePhysical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.physicaldefense" type="text" value="{{actor.system.physicaldefense}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleMiddle">
                        <div>
                            <span class="lineBreak" name="defenseMagical">{{localize "earthdawn.d.defenseMagical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.mysticdefense" type="text" value="{{actor.system.mysticdefense}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleRight">
                        <div>
                            <span class="lineBreak" name="defenseSocial">{{localize "earthdawn.d.defenseSocial"}}</span>      
                        </div>
                        <div>    
                            <input class="circleInput step-display" name="system.socialdefense" type="text" value="{{actor.system.socialdefense}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatureHealthRating circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.h.healthRating"}}</h3>
                <div class="centeredInput">
                    <div class="circleLeft">
                        <div>
                            <span class="lineBreak" name="woundThreshold">{{localize "earthdawn.w.woundThreshold"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.woundThreshold" type="text" value="{{actor.system.woundThreshold}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleMiddle">
                        <div>
                            <span class="lineBreak" name="unconsciousThreshold">{{localize "earthdawn.u.unconsciousnessRating"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.unconsciousThreshold" type="text" value="{{actor.system.unconsciousThreshold}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleRight">
                        <div>
                            <span class="lineBreak" name="deathThreshold">{{localize "earthdawn.d.deathRating"}}</span>      
                        </div>
                        <div>    
                            <input class="circleInput step-display" name="system.deathThreshold" type="text" value="{{actor.system.deathThreshold}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatureDamage circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.d.damage"}}</h3>
                <div class="centeredInput creatureCirclesPadding">
                    <div class="circleLeft marginLeft10">
                        <div>
                            <span class="lineBreak" name="damageValue">{{localize "earthdawn.d.damage"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.damage.value" type="text" value="{{actor.system.damage.value}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleRight marginRight10">
                        <div>
                            <span class="lineBreak" name="wounds">{{localize "earthdawn.w.woundsAmount"}}</span>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.wounds" type="text" value="{{actor.system.wounds}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="creatureRightBar">
            <div class="creatureArmor circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.a.armor"}}</h3>
                <div class="centeredInput">
                    <div class="circleLeft marginLeft10">
                        <div>
                            <span class="lineBreak" name="physicalArmor">{{localize "earthdawn.a.armorPhysical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.physicalarmor" type="text" value="{{actor.system.physicalarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleRight marginRight10">
                        <div>
                            <span class="lineBreak" name="mysicalArmor">{{localize "earthdawn.a.armorMystical"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.mysticarmor" type="text" value="{{actor.system.mysticarmor}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatureMovement circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.m.movement"}}</h3>
                <div class="centeredInput">
                    <div class="circleLeft marginLeft10 creatureCirclesPadding">
                        <div>
                            <span class="lineBreak" name="normalMovement">{{localize "earthdawn.m.movementNormal"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.movement" type="text" value="{{actor.system.movement}}" data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="circleRight marginRight10">
                        <div>
                            <div>
                                <span class="lineBreak" name="otherMovement">{{localize "earthdawn.m.movementOther"}}</span>
                            </div>
                        </div>
                        <div>
                            <input class="circleInput step-display" name="system.otherMovement" type="text" value="{{actor.system.otherMovement}}" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creatureKarmaInitiative circleRow">
                <h3 class="alignmentCenter">{{localize "earthdawn.k.karma"}}</h3>
                <div class="centeredInput">
                    <div class="circleLeft marginLeft10">
                        <div>
                            <span class="lineBreak" name="CurrentKarma">{{localize "earthdawn.k.karmaCurrent"}}</span>
                        </div>
                        <div>
                            <input class="circleInput" name="system.karma.value" type="text" value="{{actor.system.karma.value}}" data-dtype="Number"/>                
                        </div>
                    </div>
                    <div class="circleRight marginRight10">
                        <div>
                            <label>{{localize "earthdawn.k.karmaDice"}}</label>
                        </div>
                        <div >
                            <span>
                                <select class="circleInputDropDown" name="system.karmaDie" value="{{actor.system.karmaDie}}"{{#select actor.system.karmaDie}}>
                                <option value="d4">{{localize "earthdawn.d.d"}}4</option>
                                <option value="d6">{{localize "earthdawn.d.d"}}6</option>
                                <option value="d8">{{localize "earthdawn.d.d"}}8</option>
                                <option value="d10">{{localize "earthdawn.d.d"}}10</option>
                                <option value="d12">{{localize "earthdawn.d.d"}}12</option>
                                <option value="S8">2{{localize "earthdawn.d.d"}}6</option>
                                <option value="S10">2{{localize "earthdawn.d.d"}}8</option>
                                <option value="d20">{{localize "earthdawn.d.d"}}20</option>
                                <option value="S12">2{{localize "earthdawn.d.d"}}10</option>
                                {{/select}}
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="creaturePowers">
        <table>
            <tr>                
                <div class="item-list attack-list">
                    <h3>{{localize "earthdawn.a.attack"}}</h3>
                    {{#each (getAttackType attacks 'Attack') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                    {{/each}}
                </div>             
                <div class="item-list attack-list">
                    <h3>{{localize "earthdawn.m.maneuver"}}</h3>
                    {{#each (getAttackType attacks 'Maneuver') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                    {{/each}}
                </div>
                <div class="item-list attack-list">
                    <h3>{{localize "earthdawn.p.power"}}</h3>
                    {{#each (getAttackType attacks 'Power') as |attack id|}}
                        {{> "systems/earthdawn4e/templates/actors/partials/attack-card.hbs" attack}}
                    {{/each}}
                </div>
            </tr>
        </table>
    </div>
</div>
