<div class="inventoryTab">  
    <h2>{{localize "earthdawn.i.inventory"}}</h2>   
    {{#if (PC this)}}
    <table>
        <tr>
            <td>
                <label>{{localize "earthdawn.e.encumbrance"}}</label>
            </td>
            <td class="padding-left-6 padding-right-6">
                <input name="system.encumbrance" type="text" value="{{actor.system.encumbrance}}" data-dtype="Number"/>
            </td>
            <td class="padding-left-6 padding-right-6">
                <label>{{localize "earthdawn.e.encumbranceCarryingCapacity"}}</label>
            </td>
            <td class="padding-left-6">
                <input name="system.carryingCapacity" type="text" value="{{actor.system.carryingCapacity}}" data-dtype="Number"/>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img class="coins" src="systems/earthdawn4e/assets/gold-coin.png" Title="{{localize "earthdawn.c.coinGoldGold"}}" height="32" width="32" contenteditable="false" />
            </td>
            <td>
                <label>{{localize "earthdawn.c.coinGold"}}</label>
            </td>
            <td class="padding-left-6 padding-right-6">
                <input name="system.money.gold" type="text" value="{{actor.system.money.gold}}" Title="{{localize "earthdawn.c.coinGoldGold"}}" data-dtype="Number"/>
            </td>
            <td>
                <img class="coins" src="systems/earthdawn4e/assets/silver-coin.png" Title="{{localize "earthdawn.c.coinGoldGold"}}" height="32" width="32" contenteditable="false" />
            </td>
            <td>
                <label>{{localize "earthdawn.c.coinSilver"}}</label>
            </td>
            
            <td class="padding-left-6 padding-right-6">
                <input name="system.money.silver" type="text" value="{{actor.system.money.silver}}" Title="{{localize "earthdawn.c.coinSilverSilver"}}" data-dtype="Number" />
            </td>
            <td>
                <img class="coins" src="systems/earthdawn4e/assets/copper-coin.png" Title="{{localize "earthdawn.c.coinSilverSilver"}}" height="32" width="32" contenteditable="false" />
            </td>
            <td>
                <label>{{localize "earthdawn.c.coinCopper"}}</label>
            </td>
            
            <td class="padding-left-6 padding-right-6">
                <input name="system.money.copper" type="text" value="{{actor.system.money.copper}}" Title="{{localize "earthdawn.c.coinCopperCopper"}}" data-dtype="Number"/>
            </td>
        </tr>
    </table>{{/if}} 
    <div class="section-header">
        <h3>{{localize "earthdawn.w.weapons"}}</h3>
    </div>
    <table>
        <tr>
            <div class="item-list weapon-list">
                {{#each weapons as |weapon id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/weapon-card.hbs" weapon}}
                {{/each}}
            </div>
        </tr>
    </table>
    
    <div class="section-header space-small">
        <h3>{{localize "earthdawn.a.armor"}}</h3>
    </div>  
    <table>
        <tr>
            <div class="item-list armor-list">
                {{#each armor as |armor id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/armor-card.hbs" armor}}
                {{/each}}
            </div>
        </tr>
    </table> 
    <div class="section-header space-small">
        <h3>{{localize "earthdawn.s.shield"}}</h3>
    </div>  
    <table>
        <tr>
            <div class="item-list armor-list">
                {{#each shields as |shield id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/shield-card.hbs" shield}}
                {{/each}}
            </div>
        </tr>
    </table> 
    
    <div class="section-header space-small">
        <h3 class="headerLine">
            <div>
                {{localize "earthdawn.e.equipment"}}
            </div>
            <a class="item-create" data-type="equipment" title="{{localize "earthdawn.n.newItem" }}">
                <I class="fas fa-plus"></I>
            </a>
        </h3>
    </div>  
    <table>
        <tr>
            <div class="item-list equipment-list">
                {{#each equipment as |equipment id|}}
                {{> "systems/earthdawn4e/templates/actors/partials/equipment-card.hbs" equipment}}
                {{/each}}
            </div>
        </tr>
    </table>  
    
</div>


