<div class="thread-card item item-draggable item-card thread-info item-name border" data-item-id="{{_id}}">
  <span class="oneLine text-align-middle">
    <span class="armor partial-three text-align-middle">
      <img src="{{img}}" data-edit="img" title="{{name}}" height="25" width="25" />
      <label class="partial-three text-align-middle">
        {{system.target}}&nbsp;{{name}}
      </label>
    </span>
    <span class="partial-three text-align-middle">
      {{localize "earthdawn.r.rank"}}:
      {{system.rank}}
    </span>
    <span class="partial-three text-align-middle">
      {{localize "earthdawn.a.active"}}?:
      <input type="checkbox" class="link-checkbox" name="system.active" data-dtype="Boolean" {{checked system.active}} />
    </span>
    <a class="itemControlGroup">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete text-align-middle" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit text-align-middle" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
    </a>

  </span>
</div>
